*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    background-color: #686868;
}


.display{
    background-color:teal;
    max-width: 80%;
    margin:auto;
    text-align: center;
    font-size:50px;
    color:white;
    margin-top: 30px;
}
#title{
    padding-top:20px;
}

#date{
    padding-bottom: 1em;
    font-size:40px;
}